.help {
  margin-top: 20px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgba(1, 1, 1, 0.3);
  color: #779;
}

.help h1 {
  color: #779;
  font-family: Menu;
  letter-spacing: 4px;
}

.help code {
  font-family: Menu;
  font-size: 24px;
}

.warning {
  background-color: rgba(200, 80, 80, 0.3);
  padding: 1rem;
}
