.track-info {
  color: #d4c6b6;
  text-transform: uppercase;
}

.track-info .tiny {
  display: none;
}

.track.muted {
  opacity: 0.1;
}

.track input[type='checkbox'].onstep {
  background-color: orange;
}

.track.muted input[type='checkbox'].onstep {
  background-color: black;
}

@media (max-width: 800px) {
  .track-info .tiny {
    display: block;
    cursor: pointer;
  }
  .track-info .full {
    display: none;
  }
}
