.container {
  font-family: Menu;
  font-size: 23px;
  line-height: 24px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1.7fr 8.3fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-items: stretch;
  align-items: stretch;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1010px;
  }
}

.container .header {
  text-decoration: underline;
}

.toolbar {
  position: relative;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 8px;
}

.toolbar button,
.toolbar input {
  padding: 10px;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@media (max-width: 800px) {
  .toolbar button,
  .toolbar input {
    padding: 8px;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 2px;
  }
}

.help {
  margin-top: 20px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgba(1, 1, 1, 0.3);
  color: #779;
}

.help h1 {
  color: #779;
  font-family: Menu;
  letter-spacing: 4px;
}

.help code {
  font-family: Menu;
  font-size: 24px;
}

@font-face {
  font-family: 'Botic';
  src:
    local('Botic'),
    url('/fonts/pixeldroidBoticRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Console';
  src:
    local('Console'),
    url('/fonts/pixeldroidConsoleRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Menu';
  src:
    local('Menu'),
    url('/fonts/pixeldroidMenuRegular.otf') format('opentype');
}
